django==5.1.8
django-environ==0.12.0
django-import-export==4.3.7
djangorestframework==3.16.0
gunicorn==22.0.0
psycopg2-binary==2.9.10
python-decouple==3.8
celery==5.5.0
redis==5.2.1
pandas==2.2.3
numpy==1.26.4
openpyxl==3.1.5
xlrd==2.0.1
tablib==3.7.0
django-rosetta==0.10.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
pymssql==2.3.4
pytz==2024.2
django-filter==24.3
django-tables2==2.7.0
python-dateutil==2.9.0
plotly==5.24.1
matplotlib==3.9.2
scikit-learn==1.5.2
tensorflow==2.17.0
requests==2.32.3
django-cors-headers==4.4.0
django-storages==1.14.4
pillow==10.4.0
sqlparse>=0.3.1
asgiref<4,>=3.8.1
diff-match-patch==20241021
django-environ
django-environ
